{% extends "users/base.html" %}

{% block title %}Homepage{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Отвеченные вопросы</h3>
            </div>
                
            <ul class="list-group">
                {% for question in answered_questions %}
                <li class="list-group-item">
                    <strong>{{ question.question_text }}</strong>
                    <span class="pull-right">
                        <a href="#" class="btn btn-info btn-xs">Vote</a> &nbsp;
                        <a href="#" class="btn btn-default btn-xs">View Results</a> &nbsp;
                    </span>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}